:root {
    --color-primary: #F55A5A;
}

.travel_list {
    height: 704px;
    width: 550px;
    background-color: #fff;
    font-family: Inter, sans-serif;
}

.nav {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 14.46;
    color: #fff;
    background-color: var(--color-primary);
}

.nav .logo {
    position: absolute;
    height: 28px;
    left: 16px;
    top: 12px;
    filter: brightness(100);
}

.nav .logo img {
    height: 100%;
}

.nav > img {
    margin: 8px;

}

.container {
    padding: 2rem;
}

.card {
    display: flex;
    flex-wrap: nowrap;
}

.card > img {
    width: 125px;
    height: 168px;
    border-radius: 5px;
    object-fit: cover;
}

.card .details {
    font-size: 10.24px;
    padding: 1rem;
    padding-bottom: 0;
}

.details img {
    margin-bottom: -1px;
}

.details .city {
    padding: 6px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 400;
}

.details a {
    color: #918E9B;
    padding: 6px;
}

.details .title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

.details .start_end {
    font-weight: 700;
}

.details .desc {
    line-height: 150%;
    margin-bottom: 0;
}

hr {
    height: 1px;
    border: none;
    background-color: #c2c2c279;
    margin: 1rem 0;
}

.card:hover > img {
    outline: solid black 1px;
}